{% extends 'base.html.twig' %}

{% block body %}
    <h1>Link</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ link.count }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('link_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
